.active{
    border-bottom: 3px solid #007784;
    color: #007784;
}

.navbar{
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000000;
}

.navbar-container{
    display: flex;
    height: 70px;
    background-color: white;
    box-shadow: 0px 0px 3px rgba(117, 117, 117, 0.5) ;
    padding: 0 20px
    
}

.navbar-logo img{
    height: 6rem; 
}
.navbar-logo{
    margin: auto 0;
}

.nav-menu{
    display: flex;
    font-size: 1.9rem;
    font-weight: 700;
    font-style: bold;
}

.menu-icon{
    display: none;
}

.nav-item{
    font-weight: 800;
    line-height: 70px;
    margin-left: 16px;
    box-sizing: border-box;
    transition: 0.3s;
} 
.nav-item:hover{  
     background-color: rgb(247, 247, 247);
}
.nav-item:hover .sub-nav{
    display: block;
}

.sub-nav{
    background-color: white;
    padding: 5px;
    box-shadow: 0px 2px 3px rgba(117, 117, 117, 0.5) ;
    display: none;
    z-index: 1;
    box-sizing: border-box;
    font-size: 1.6rem;
    animation: slide-in-top 0.4s both;
}

.sub-nav-item{
    line-height: 30px;
    padding: 5px 10px;
}

.cart{
    line-height: 70px;
    font-size: 3rem;
    position: absolute;
    right: 10px;
    display: flex;
}

.cart-title{
    font-size: 1.8rem;
    margin-right: 40px;
}
.nav-link{
    display: block;
}

.nav-link:hover{
    color: #007784;;
}

.sub-nav-link:hover{
    color: #007784;
}


/* responsive */

@media screen and (max-width: 960px) {
     
    .active{
        border-bottom: none;
        color: none;
    }

    .navbar-logo{
        position: relative;
        margin: auto;
        transition: 0.3s;
    }
    
    .menu-icon{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        font-size: 4rem;
        line-height: 70px;
        cursor: pointer;
    }

    .nav_item {
        position: relative;
        margin-left: 0;
    }
    
    .nav-item:hover .sub-nav{
        display: none;
    }

    .nav-menu{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        position: absolute;
        top: 70px;
        left: -100%;
        opacity: 1;
        transition: 0.5s ease;
    }
    
    .sub-nav{
        background-color: #242222;
        color: #fff;
        padding: 5px;
        box-shadow: 0px 2px 3px rgba(117, 117, 117, 0.5) ;
        display: none;
        z-index: 1;
        box-sizing: border-box;
        font-size: 1.6rem;
        animation: slide-in-top 0.4s both;
    }

    .nav-menu.active {
        background: #242222;
        left: 0;
        opacity: 1;
        transition: 0.5s ease;
        z-index: 1;
    }
    
    .nav-link {
        text-align: center;
        color: aliceblue;
        width: 100%;
        display: block;
    }

    .nav-link:hover {
        background-color: rgb(66, 66, 66);
        color: #fff;  
    }
    
}